<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:n="http://nevow.com/ns/nevow/0.1">
  <head>
    <title>traintimes graphs</title>
  </head>
  <body>
    <p>View <a href="all">all today's statements together</a> 
    (as <a href="all?type=n3">n3 text</a>)</p>

    <p>Here are sets of statements about today's Amtrak data. Each
    collection of statements is the result of scanning one page from
    the amtrak site:</p>
    
    <ol>
      <n:invisible n:render="graphs"/>
    </ol>

  </body>
</html>