<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>traintimes</title>
  </head>
  <body>
    On this site:
    <ul>
      <li><a href="okj">All trains that stop at the Jack London Square
      station today</a></li>

      <li><a href="pvd">The next 4 trains running PVD -> BOS</a></li>
      <li><a href="bos">The next 4 trains running BOS -> PVD</a></li>
      
      <li><a href="graph">RDF data</a></li>
    </ul>
  </body>
</html>