<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>traintimes</title>
  </head>
  <body>

    <p>traintimes can read train schedule info from 
    <a href="http://amtrak.com/">amtrak.com</a> and convert it to RDF
    data. There are various queries you can run on the saved
    data.</p>

    <p>On this site:</p>
    <ul>
      <li><a href="okj">All trains that stop at the Jack London Square
      station today</a> <a href="okj/update">[update]</a></li>

      <li><a href="pvd">(unfinihsed) The next 4 trains running PVD -> BOS</a></li>
      <li><a href="bos">(unfinished) The next 4 trains running BOS -> PVD</a></li>
      
      <li><a href="graph">RDF data</a></li>
    </ul>
  </body>
</html>